body{
    background-color: #191a1b;
}

h1{
    text-align: center;
    color: beige;
}

#grid-container{
    margin: 0 auto;
    width: 500px;
    height: 500px;
    border: solid 2px chartreuse;
    display:flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    gap: 1px;

}

.grid-square{
    /* border: solid 1px crimson; */
    background-color:crimson;
    width: 16px;
    height: 16px;

}
