body{
    background-color: #191a1b;
    height: 100vh;
}

h1{
    text-align: center;
    color: beige;
}

#scale{
    display: block;
    margin: 16px auto;
    padding: 8px 16px;
    background-color: crimson;
    border: 1px solid chartreuse;
    font-size: 16px;
    font-weight: 700;
    border-radius: 8px;
}

#grid-container{
    margin: 0 auto;
    width: 600px;
    height: 600px;
    border: solid 2px chartreuse;
    display:flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    gap: 1px;

}

.grid-square{
    background-color:crimson;
}
